# Outputs
Required fixes, Some arrays had size 30, some 31 and GPT was convinced it was 40

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    'Store_Number': [1320]*30,
    'SKU_Coded': [6173050, 6174250, 6176200, 6176800, 6177250, 6177300, 6177350, 6177700, 
                  6178000, 6178250, 6179250, 6179300, 6179400, 6179450, 6179500, 6179750, 
                  6180550, 6182050, 6183750, 6184100, 6188550, 6190050, 6190150, 6190200, 
                  6190250, 6190350, 6190400, 6193750, 6195350, 6195800],
    'Product_Class_Code': [22875, 22875, 22975, 22800, 22975, 22800, 22800, 22875, 
                           22875, 22800, 24400, 22800, 24400, 24400, 24400, 22800, 
                           22975, 22975, 22850, 22975, 22950, 24425, 24425, 24425, 
                           24425, 22950, 22950, 22875, 24375, 22850],
    'Sold_Date': ['2021-11-01T00:00:00Z'] * 30,
    'Qty_Sold': [1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 3, 3, 
                 2, 5, 1, 1, 1, 1, 1, 1, 1, 1],
    'Total_Sale_Value': [4.99, 0.89, 99.98, 14.97, 6.89, 9.99, 16.98, 3.19, 
                         6.38, 16.59, 14.99, 9.98, 29.98, 14.99, 14.99, 39.98, 
                         15.99, 7.99, 38.97, 59.97, 15.98, 19.95, 8.99, 8.99, 
                         7.99, 6.99, 6.99, 6.99, 16.99, 25.72],
    'On_Promo': [0]*30
}

df = pd.DataFrame(data)
sales_by_sku = df.groupby('SKU_Coded')['Total_Sale_Value'].sum().reset_index()

plt.figure(figsize=(10,6))
plt.bar(sales_by_sku['SKU_Coded'].astype(str), sales_by_sku['Total_Sale_Value'], color='blue')
plt.title('Sales by Product SKU')
plt.xlabel('SKU_Coded')
plt.ylabel('Total_Sale_Value')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Data
data = {
    'Store_Number': [2420, 2310, 990, 1320, 4400, 2090, 1980, 1540, 3190, 3410],
    'Total_Sale_Value': [903.19, 703.59, 603.79, 603.53, 539.94, 459.08, 434.11, 424.15, 409.18, 407.32]
}

# Create bar chart
plt.figure(figsize=(10, 6))
plt.bar(data['Store_Number'], data['Total_Sale_Value'], color='blue')

# Title and labels
plt.title('Top 10 Sales by Store in November 2021')
plt.xlabel('Store Number')
plt.ylabel('Total Sale Value')

# Show the chart
plt.xticks(data['Store_Number'])
plt.show()